section.main-container
  .join-sblock.custom-wrap
    .container
      .row
        /! main start
        /! ================
        .main.col-md-12
          /! page-title start
          /! ================
          h2.page-title 社會民主黨組織章程
          .separator-2
          /! page-title end
        /! main end
    .container.join-block
      .row
        .main.col-md-12
          p.color-pp.fz
            strong.fz 第一章 總則
          p
            strong.fz 第一條
            br
            | 本黨名稱為「社會民主黨」（英譯Social Democratic Party）。以下簡稱本黨。
          p
            strong.fz 第二條
            br
            | 本黨標章為多彩玫瑰。玫瑰象徵本黨所追求之社會民主理想和幸福平等生活，多彩象徵本黨所追求之多元民主和尊重少數社會。
          p
            strong.fz 第三條
            br
            | 本黨以推動台灣經濟、社會、政治之改革，實現自由、平等、團結之社會民主理想國為宗旨。
          p
            strong.fz 第四條
            br
            | 本黨之任務如下：
            br
            | 一、透過組織發展、理念宣傳、政策研究、支援工會與社會運動、參與公職選舉、政黨合作等手段，落實社會民主的政治主張。
            br
            | 二、促進國內外社會民主政治團體之交流與合作。
            | 三、推動其他有利於社會民主政治主張發展之事項。
          p
            strong.fz
              | 第五條
              br
            | 本黨之組織區域為全國。本黨之黨址設於中央政府所在地。
          p 
          p.color-pp.fz
            strong.fz 第二章 黨員
          p
            strong.fz
              | 第六條
              br
            | 凡年滿十六歲，認同本黨宗旨，志願服膺本黨組織章程之規定，得申請為本黨黨員。 本黨成立大會之發起人，自成立大會日起自動成為本黨黨員。 黨員入黨及黨費繳納辦法由全國委員會另訂之。
          p
            strong.fz
              | 第七條
              br
            | 本黨黨員不得具其他政黨黨籍，擁有他黨黨籍者，應於入黨申請案通過後六個月內公開聲明放棄該黨黨籍或退出本黨，惟經本黨決議參加之政黨參政聯盟不在此限。
          p
            strong.fz
              | 第八條
              br
            | 黨員之義務如下：
            br
            | 一、遵守本黨章程，服從本黨之決議。
            br
            | 二、宣揚本黨宗旨，爭取民眾之支持。
            br
            | 三、參與組織活動，擔任本黨指派之工作。
            br
            | 四、介紹優秀人才加入本黨。
            br
            | 五、繳納黨費。本黨黨費得以「黨務參與時數」計算折抵。連續兩年未繳黨費者，視同自動退黨。
          p
            strong.fz
              | 第九條
              br
            | 黨員之權利如下：
            br
            | 一、 有依據本黨規章選舉、被選舉及罷免之權利。
            br
            | 二、 在黨內會議有發言、提案及表決之權利。
            br
            | 三、 有接受本黨提名與支援之權利。
            br
            | 四、 對本黨有建議、檢舉及獲得資訊之權利。
            br
            | 五、 對本黨之活動有參與之權利。
            br
            | 六、 對本黨提供之福利有享受之權利。
          p
            strong.fz 第十條
            br
            | 黨員得隨時以書面向本黨全國委員會聲明退黨。 曾經退黨或經本黨除名之黨員再行申請入黨時，應報請本黨全國委員會核准。
          p 
          p.color-pp.fz
            strong.fz 第三章 組織
          p
            strong.fz
              | 第十一條
              br
            | 本黨之組織運作，採取民主方式：
            br
            | 一、組織決議以多數決為原則，但重大事項須經出席人數三分之二通過。
            br
            | 二、全國委員、評議委員、各級秘書處有定期向組織報告之義務。
            br
            | 三、全國委員、評議委員、區部執行委員及各級代表均由選舉產生，以無記名方法投票方式為之。
          p
            strong.fz 第十二條
            br
            | 本黨以全國黨員大會為最高意思機關，全國委員會為執行機關，評議委員會為評議機關。
            br
            | 本黨得設地方區部。本黨得於各級議會設議會黨團。區部及議會黨團之設立辦法另訂之。
            br
            | 本黨黨員超過三百人時，應設立全國黨員代表大會，代替全國黨員大會為本黨最高意思機關。
          p 
          p.color-pp.fz
            strong.fz 第四章 全國黨員（代表）大會
          p
            strong.fz
              | 第十三條
              br
            | 全國黨員（代表）大會為本黨最高權力機關，每年由全國委員會召集一次。必要時經全國委員會決議、全國五個以上區部執行委員會之書面提議、或全體黨員（代表）五分之一連署，全國委員會應召集臨時全國黨員（代表）大會。
            br
            | 全國黨員代表大會規模在五十人至三百五十人之間，成員應考量多元性，其組成、設立及選舉辦法由全國委員會另訂之，但單一性別在總數中每滿三人應有一人。
            br
            | 全國黨員代表大會代表之任期與全國委員會委員任期同。
            br
            | 凡於全國黨員（代表）大會開會時已繳交前一年年度黨費之黨員，始具有選舉與被選舉權。
          p
            strong.fz
              | 第十四條
              br
            | 全國黨員（代表）大會之職權如下：
            br
            | 一、修訂本黨章程。
            br
            | 二、議定本黨綱領與規章。
            br
            | 三、聽取並檢討全國委員會、評議委員會、各區部執委會、各議會黨團之工作報告。
            br
            | 四、受理及議決提案。
            br
            | 五、選舉、罷免全國委員及評議委員。
            br
            | 經全國黨員（代表）大會就國家重大政策所做之決議文、競選綱領，視為本黨綱領之一部。
          p 
          p.color-pp.fz
            strong.fz 第五章 全國委員會
          p
            strong.fz
              | 第十五條
              br
            | 全國黨員（代表）大會閉會期間，由全國委員會綜理本黨一切事務。
            br
            | 全國委員會置委員十一至三十一人，候補委員三人，由全國黨員（代表）大會直接選出，但單一性別在總數中每滿三人應有一人。第一屆任期一年，第二屆起任期二年，連選得連任。全國委員會互推一人為召集人，為本黨負責人，除第一屆不計入任期外，連選得連任一次。召集人出缺時，由全國委員會互推一人為代理召集人，至原召集人任期屆滿為止。
            br
            | 全國黨員（代表）大會之召開，應有半數黨員（代表）之出席始得成會，以委託書出席者不得超過全體黨員（代表）之五分之一。
          p
            strong.fz
              | 第十六條
              br
            | 全國委員會之職權如下：
            br
            | 一、執行全國黨員（代表）大會之決議。
            br
            | 二、制定本黨內規。
            br
            | 三、議決年度工作計畫
            br
            | 四、編製預算及決算。
            br
            | 五、議決重要人事案。
            br
            | 六、提案本黨黨員獎懲案。
            br
            | 七、督導各區部及各議會黨團之黨務。
            br
            | 八、提名參與各級公職選舉之本黨候選人。
          p
            strong.fz
              | 第十七條
              br
            | 全國委員會每月至少開會一次，採合議制。會議記錄應對全體黨員公開。
            br
            | 全國委員會於未開會期間，得因應時效需求，透過網路提案、討論及議決黨務相關事宜，其效力與正式開會同，並應對黨員公開。
            br
            | 全國委員應分擔本黨募款及招募黨員工作。
          p
            strong.fz
              | 第十八條
              br
            | 全國委員會下設中央秘書處，執行全委會決議、促進本黨發展。
            br
            | 中央秘書處置秘書長一人，副秘書長一至二人，由全國委員會召集人提名，經全國委員會同意後任命之，其任期與召集人同。
            br
            | 中央秘書處下得設行政、組織、宣傳、研究等部門，其組織辦法與編制敘薪標準由全國委員會另訂之。
          p
            strong.fz
              | 第十九條
              br
            | 全國委員會得因應政策或工作需求，下設相關委員會。委員會得聘請黨外人士擔任委員及顧問。外部委員人數不得超過該委員會委員總數二分之一，顧問人數不限。
            br
            | 委員會之組織辦法由全國委員會另訂之。
          p 
          p.color-pp.fz
            strong.fz 第六章 評議委員會
          p
            strong.fz
              | 第二十條
              br
            | 評議委員會置委員三至七人，候補委員一人，由全國黨員（代表）大會直接選出，但單一性別在總數中每滿三人應有一人。評議委員互推一人為召集人，至少每半年召開一次會議。第一屆任期一年，第二屆起任期二年，除第一屆不計入任期外，連選得連任一次。
          p
            strong.fz
              | 第二十一條
              br
            | 評議委員會之職權如下：
            br
            | 一、 監督全國委員會推行黨務工作。
            br
            | 二、 本黨內規及預算之備查。
            br
            | 三、 審查本黨之決算。
            br
            | 四、 黨員及各級組織獎懲之決定。
          p 
          p.color-pp.fz
            strong.fz 第七章 區部
          p
            strong.fz
              | 第二十二條
              br
            | 對應區域立法委員選舉區，區內黨員人數超過三十人時，得申請設立區部。
            br
            | 區部設立及組織辦法，由全國委員會另訂之。
          p
            strong.fz
              | 第二十三條
              br
            | 各區部對區內之黨務問題，在不違反本黨章程及決策範圍內，有自治自主之決定權。
            br
            | 各區部舉辦跨越該區之活動或出版刊物，應經全國委員會之認可。
          p 
          p.color-pp.fz
            strong.fz 第八章 紀律及獎懲
          p
            strong.fz
              | 第二十四條
              br
            | 本黨黨員及各級組織，對本黨之路線、策略、綱領、政策及主要幹部之言行均得自由討論及批判，惟應以公共議題或公益攸關為限，不得涉及人身攻擊或有侵犯隱私及歧視之言行。
          p
            strong.fz
              | 第二十五條
              br
            | 各級組織之決議、活動有違背黨章或本黨之綱領者，本黨得予以公開譴責、撤銷該決議活動、撤銷該組織之處分。
            br
            | 黨員之行為有違背黨章、決議或破壞本黨名譽之情事者，本黨得依情節輕重予以警告、公開譴責、停權、除名之處分。
            br
            | 警告、公開譴責之處分，應經評議委員會二分之一出席，三分之二同意議決。停權、除名、撤銷之處分，應經評議委員會三分之二出席，三分之二同意議決。
            br
            | 各級組織之活動或黨員之言行，對本黨有顯著貢獻者，應予獎勵。
          p
            strong.fz
              | 第二十六條
              br
            | 獲本黨提名之候選人，應簽署並遵守「競選與當選承諾公約」。公約內容由全國委員會另以辦法訂定之。
          p
            strong.fz
              | 第二十七條
              br
            | 有關黨員各級組織之懲罰事項，由全國委員會提案，交送評議委員會裁決。
          p 
          p.color-pp.fz
            strong.fz 第九章 財務
          p
            strong.fz
              | 第二十八條
              br
            | 本黨經費來源如下：
            br
            | 一、黨費。
            br
            | 二、依法收受之政治獻金。
            br
            | 三、政黨補助金。
            br
            | 四、本黨民選公職人員部份薪資。
            br
            | 五、本黨之出版品、宣傳品銷售或其權利授與、讓與所得之收入。
            br
            | 六、其他收入。
            br
            | 七、由前六款經費及收入所生之孳息。
            br
            | 本黨民選公職人員應繳納之薪資比例，應明訂於「競選與當選承諾公約」。
          p
            strong.fz
              | 第二十九條
              br
            | 本黨之會計年度採曆年制，會計基礎採權責發生制。中央秘書處應設置帳簿，詳細記錄有關會計事項。
            br
            | 各項會計憑證，除應永久保存或有關未結會計事項者外，自該會計年度結束起保存七年；會計帳簿，除有關未結會計事項者外，自該會計年度結束起保存十年。
          p
            strong.fz
              | 第三十條
              br
            | 本黨應每年公布財務收支狀況書表及捐款狀況書表，以昭社會公信。
          p 
          p.color-pp.fz
            strong.fz 第十章 附則
          p
            strong.fz 第三十一條
            br
            | 本章程之制定與修改，經全國黨員（代表）大會過半數之出席，出席人數三分之二以上之同意通過後施行。
