<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理後台:首頁大圖管理</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="all">
  <div id="content_wrap">
  <div id="main" class="inner">
      <div id="header">sdparty管理後台</div>
  <div id="google-login">
  
  <a href="index_banner.html"><img src="images/login-google.png" width="151" height="64" alt=""/></a>
<!--初次登入訊息start:一開始這段字是不會顯示的。第一次登入後，gmail帳號還沒經過管理員開啟權限的人會看到這塊文字。已經開啟的就直接進到後台不會看到這個字。-->
<div class="login-note">待本帳號經網站管理員確認後，<br />
  始可使用本後台。 </div></div>
<!--初次登入訊息end-->
</div>
</div>
</div>
</body>
</html>
